aiohttp==3.8.5
aioredis==2.0.1
asyncpg==0.28.0
confluent-kafka==2.3.0
cudf==23.10.00
cuml==23.10.00
cugraph==23.10.00
dask-cuda==23.10.00
dask-cudf==23.10.00
fastavro==1.8.2
grpcio==1.59.0
kafka-python==2.0.2
numba==0.57.1
numpy==1.24.3
pandas==2.0.3
prometheus-client==0.17.1
pyarrow==13.0.0
pydantic==2.4.2
python-json-logger==2.0.7
scikit-learn==1.3.1
uvicorn==0.23.2
fastapi==0.103.1
gunicorn==21.2.0
