[Unit]
Description=Award Travel Service
After=network.target

[Service]
User=runner
ExecStart=/usr/local/bin/docker-compose up
Restart=always

[Install]
WantedBy=multi-user.target
